-- MySQL dump 10.13  Distrib 26.7.0, for Win64 (x86_64)
--
-- Host: localhost    Database: banco
-- ------------------------------------------------------
-- Server version	26.7.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES (1,'Carlos Perez'),(2,'Ana Gomez'),(3,'Luis Martinez'),(4,'Maria Rodriguez'),(5,'Juan Torres');
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cuentas`
--

LOCK TABLES `cuentas` WRITE;
/*!40000 ALTER TABLE `cuentas` DISABLE KEYS */;
INSERT INTO `cuentas` VALUES (1,'12345678',5,2000000.00),(2,'87654321',4,3500000.00),(3,'23456789',3,150000.00),(4,'98765432',2,50000.00),(5,'43465465',1,600000.00);
/*!40000 ALTER TABLE `cuentas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `retiros`
--

LOCK TABLES `retiros` WRITE;
/*!40000 ALTER TABLE `retiros` DISABLE KEYS */;
INSERT INTO `retiros` VALUES (1,4,240000.00,'2026-08-15 05:25:02'),(2,3,3000000.00,'2020-05-13 23:14:35'),(3,2,340000.00,'2026-09-15 10:30:02'),(4,1,540000.00,'2026-09-10 15:00:06'),(5,1,430000.00,'2025-04-01 13:00:23');
/*!40000 ALTER TABLE `retiros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `transferencias`
--

LOCK TABLES `transferencias` WRITE;
/*!40000 ALTER TABLE `transferencias` DISABLE KEYS */;
INSERT INTO `transferencias` VALUES (1,2,4,300000.00,'2026-04-10 00:00:00'),(2,5,1,250000.00,'2025-09-20 00:00:00'),(3,3,4,100000.00,'2026-03-02 00:00:00'),(4,1,5,200000.00,'2026-05-06 00:00:00'),(5,3,2,500000.00,'2026-07-03 00:00:00');
/*!40000 ALTER TABLE `transferencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,2,'$2y$10$QphQjQjvY.nTqUwYqf.xeeZhL.4zpYChpk.nfiDmOA9JxV1H9V3He'),(2,1,'$2y$10$2uIbT84VQvWcVo6bd12MyOcipdbHI3fH9WCiI.1RxBlQN.r/Xeyee'),(3,5,'$2y$10$5qUXePt9asUrobsxBviBDe2c5nHyiDeq6QsUOAryv9y0p3i/QQnN2'),(4,3,'$2y$10$U3GLQ.yg075Gm04TVJtyjuP2speUoSyGM1HrJP.1T5AR1.2t5kE4S'),(5,4,'$2y$10$68hWbY6ocwYikcvsPE9MUul0dei7bxbZSzWWqhycze9Nc8Cc.xYK.');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-02  6:43:20
